<div class="container-fluid bg bg-dark text-white" style="height: 5vh">
  
  <p class="list-inline-item">Created by Victor Ondari &copy;</p>
  <p class="list-inline-item">SniffRades &trade;</p>
  <p class="list-inline-item">
    Our Socials:
    <a href="https://github.com/Vonmak"><i class="fa-brands fa-github"></i></a>
    <a href="https://twitter.com/SniffRades"
      ><i class="fa-brands fa-twitter"></i
    ></a>
    <a href="https://linkedin.com/in/victorondari"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </p>
</div>
