<footer class="container-fluid bg bg-dark text-white text-center" style="height: 5vh">
 
  <p class="list-inline-item"><small>Copyright &copy;2022, Rades</small></p>
  <p class="list-inline-item">
    Our Socials:
    <a class="text-white" href="https://github.com/Vonmak"><i class="fa-brands fa-github"></i></a>
    <a class="text-white" href="https://twitter.com/SniffRades"
      ><i class="fa-brands fa-twitter"></i
    ></a>
    <a class="text-white" href="https://linkedin.com/in/victorondari"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </p>
</footer>
