{% load static %}
<nav class="navbar navbar-inverse bg bg-dark" style="height: 10vh">
  <div class="container-fluid text-white">
    <div class="navbar-header">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            class="navbar-brand text-white"
            href="/"
            style="font-family: 'Akronim', cursive; font-size:50px; font-weight:900;filter: brightness(100%) saturate(200%);"
            >BlazeXpo</a
          >
        </li>
        <li class="list-inline-item">
          <div class="nav-search">
            <form
              class="form-inline my-2 my-lg-0"
              role="search"
              action="{% url 'search' %}"
            >
              <input
                class="form-control my-2 my-sm-0 search-input"
                name="project_name"
                type="search"
                placeholder="Search Projects"
                aria-label="Search"
              />
            </form>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <ul class="list-inline">
        {% if user.is_authenticated %}
        <li class="list-inline-item">
          <div class="dropdown">
            <a
              class="navbar-brand text-white dropdown-toggle"
              data-bs-toggle="dropdown"
              href=""
              >{{user.username | title}} {% if user.profile.pic %}
              <img
                src="{{user.profile.pic.url}}"
                class="img-fluid rounded-pill pic"
                alt="image"
              />
              {% else %}
              <img
                class="img-fluid rounded-pill pic"
                src="{% static 'images/starating.jpeg'%}"
                alt="image"
              />{% endif %}
            </a>

            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="/profile/{{user.profile.user.id}}"
                  >My Profile</a
                >
              </li>

              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
        </li>
        {% else %}
        <li class="list-inline-item">
          <a class="navbar-brand text-white" href="/register">Register</a>
          <a class="navbar-brand text-white" href="/login">Login</a>
        </li>

        {% endif %}
        <li class="list-inline-item">
          <!-- Button to Open the Modal -->
          <a
            href="/project"
            class="text-white"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            >SUBMIT YOUR SITE!</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Submit Project</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-group">
            <label for="project_name" class="form-label"
              >{{form.project_name.label}}:</label
            ><br />
            {{form.project_name}}
          </div>
          <div class="form-group">
            <label for="project_description" class="form-label"
              >{{form.project_description.label}}:</label
            ><br />
            {{form.project_description}}
          </div>
          <div class="form-group">
            <label for="project_image" class="form-label"
              >{{form.project_image.label}}:</label
            ><br />
            {{form.project_image}}
          </div>
          <div class="form-group">
            <label for="project_url" class="form-label"
              >{{form.project_url.label}}:</label
            ><br />
            {{form.project_url}}
          </div>
          <div class="form-group">
            <label for="language" class="form-label"
              >{{form.language.label}}:</label
            ><br />
            {{form.language}}
          </div>
          <br />

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Upload</button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
