{% extends 'base.html'%}{% load static %}{%block content%}
<div class="container main-profile text-dark">
  <div class="row prof1">
    <div class="col-md-12 prof2">
      <div class="row prof3">
        <div class="col-md-4 prof4">
          {% if profile.pic %}
          <ul class="list-inline">
            <li class="list-inline-item">
              <img
                class="img-fluid rounded-pill index-profile"
                src="{{profile.pic.url}}"
                alt="photo"
              />
            </li>
            <li class="list-inline-item"><h4>{{profile.name|title}}</h4></li>
            <li class="list-inline-item"><p>{{profile.bio|title}}</p></li>
          </ul>

          {% else %}
          <ul class="list-inline">
            <li class="list-inline-item">
              <img
                class="img-fluid rounded-pill index-profile"
                src="{% static 'images/starating.jpeg'%}"
              />
            </li>
            <li class="list-inline-item"><h4>{{profile.user|title}}</h4></li>
            <li class="list-inline-item"><p>{{profile.bio|title}}</p></li>
          </ul>
          {% endif %}
        </div>
        <div class="col-md-5 prof6">
          <li class="list-inline-item">
            <span class="font-weight-bold">{{projects.count}} </span> Projects
          </li>
          <li class="list-inline-item">
            Contact info: <strong><a href="">{{profile.email}}</a></strong>
          </li>
          <li class="list-inline-item">
            {% if profile.user.id == user.profile.user.id%}
            <a
            href="/profile"
            class="btn btn-outline-info"
            data-bs-toggle="modal"
            data-bs-target="#edit"
            >Edit Profile</a
          >
            {% endif %}
           
          </li>
        </div>
      </div>
    </div>
    <hr />
    <div class="row prof8">
      {% if projects %} {% for project in projects %}
      <div class="col-md-2 prof9">
        <div class="card prof10">
          <img
            src="{{project.project_image.url}}"
            alt="Image"
            class="card-img-top prof-image"
          />
          <br />
          <ul class="list-inline">
            <li class="list-inline-item">{{project.project_name|title}}</li>
            <li class="list-inline-item">
              <a
                href="{{project.project_url}}"
                class="btn btn-outline-info btn-sm"
                ><small>Visit Site</small></a
              >
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}{% else %}
      <h1 class="text-center">No Projects Posted Yet...</h1>
      {% endif %}
    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal" id="edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Profile</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="name" class="form-label">{{form.name.label}}:</label
            ><br />
            {{form.name}}
          </div>
          <div class="form-group">
            <label for="pic" class="form-label">{{form.pic.label}}:</label
            ><br />
            {{form.pic}}
          </div>
          <div class="form-group">
            <label for="bio" class="form-label">{{form.bio.label}}:</label
            ><br />
            {{form.bio}}
          </div>
          <div class="form-group">
            <label for="email" class="form-label">{{form.email.label}}:</label
            ><br />
            {{form.email}}
          </div>
          <div class="form-group">
            <label for="location" class="form-label"
              >{{form.location.label}}:</label
            ><br />
            {{form.location}}
          </div>

          <br />

          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-outline-info btn-md" type="submit">
              Edit
            </button>

            <button
              type="button"
              class="btn btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
