.body {
    /* border: 1px solid rgb(0, 255, 60); */
    height: 100vh;
    /* background-color: #cccccc; */
    background-color: #edf2f4;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #cccccc;
}

.main {
    /* border: 1px solid red; */
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #cccccc;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* background: #E5E5E5; */
    /* mix-blend-mode: luminosity; */
    /* background: rgba(88, 130, 193, 0.28); */
}

.register {
    /* border: 1px solid rgb(85, 0, 255); */
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background: rgba(114, 62, 88, 0.28);
    backdrop-filter: blur(10px);
    color: #fff;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
    background: rgba(114, 62, 88, 0.28);
    backdrop-filter: blur(25px);
    width: 100%;
}

a {
    text-decoration: none;
}