.body {
    height: 100vh;
    background-color: #edf2f4;
}

.index {
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #cccccc;
    filter: brightness(100%) saturate(200%);
}

.index1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.index2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-card {
    background: rgba(120, 120, 120, 0.28);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.index-image {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #cccccc;
    border-radius: 5px;
}

.index-profile {
    height: 80px;
    width: 80px;
}

.main {
    height: 85vh;
}

.head {
    margin: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.pic {
    height: 40px;
    width: 40px;
}

.down {
    display: flex;
    border-radius: 5px;
}

.display {
    margin-top: 10px;
}

.another {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #cccccc;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.add1 {
    border: 1px solid rgb(129, 73, 159);
}

.add2 {
    border: 1px solid rgb(0, 212, 7);
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

.main-profile {
    height: 85vh;
}

.prof6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prof-image {
    height: 300px;
}

.search {
    height: 85vh;
}